@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
body{
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
}
a{
  max-width: 400px;
  color:inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
  @media (max-width: 740px) {
    max-width: 600px;
  }
}

.app{
  margin:0 auto;
  input{
    box-shadow: $box-shadow;
    border-radius: 5px;
    width: 600px;
    outline: none;
    @media (max-width: 740px) {
      width: 400px;
    }
    @media (max-width: 440px) {
      width: 280px;
    }
  }
  h1{
    font-size: 16px;
    font-weight: 600;
    color:$base-color;
    margin-bottom: 10px;
  }
  h2{
    margin-top: 40px;
    font-size: 16px;
    font-weight: 600;
    color:$base-color;
    margin-bottom: 45px;
    padding-bottom: 5px;
    border-bottom:  1px solid #EAEAEA;;
  }

}